#navibar {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    width: 100%;
    height: 160px;
    z-index: 100;
    transition: all 0.4s;
}

#navibar.scrolled {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    height: 48px;
}

#bar {
    position: fixed;
    width: 80%;
    height: inherit;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    padding-top: 110px;
    transition: all 0.5s;
    letter-spacing: 2px;
    width: 80%;
}

#navibar.scrolled #bar {
    padding-top: 0;
    letter-spacing: 1px;
    width: 96%;
}

#home {
    transition: all 0.5s;
}

#logo {
    position: absolute;
    width: 28px;
    height: 28px;
    margin: 10px 0;
    background: url('/static/images/icon/logo1.svg') no-repeat center;
    background-size: 100%;
}

#logo:hover {
    transform: scale(1.3) rotate(-25deg);
    -moz-transform: scale(1.3) rotate(-25deg);
    -webkit-transform: scale(1.3) rotate(-25deg);
}

#navibar.dark #logo {
    background: url('/static/images/icon/logo3.svg') no-repeat center;
}

#navibar.scrolled #logo {
    background: url('/static/images/icon/logo2.svg') no-repeat center;
}

#navibar.scrolled.dark #logo {
    background: url('/static/images/icon/logo2.svg') no-repeat center;
}


/* full screen menu */

#menu {
    position: absolute;
    right: 0;
}

#menu ul {
    list-style: none;
    padding-top: 14px;
    height: 48px;
}

#menu li {
    display: inline-block;
    text-decoration: none;
    margin: 0 0 0 40px;
}

#menu .dropdown {
    position: relative;
    display: inline-block;
}

#menu .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 0;
    width: auto;
    overflow: auto;
}

#menu .dropdown-content a {
    color: #000;
    margin: 15px 30px 15px 10px;
    text-decoration: none;
    display: block;
}

#menu .dropdown:hover .dropdown-content {
    display: block;
}

#menu .dropdown:hover .dropbtn {
    background-color: rgba(0, 0, 0, 0);
}

#menu .dropbtn {
    cursor: pointer;
}

#menu .underline {
    width: auto;
    height: auto;
    position: relative;
}

#menu .underline:after {
    content: "";
    width: 0;
    height: 1.5px;
    background: #000;
    position: absolute;
    top: 100%;
    left: 50%;
    transition: all .5s;
}

#menu .underline:hover:after {
    left: 0;
    width: 100%;
}

#navibar.scrolled.dark #menu .underline,
#navibar.scrolled.dark #menu .underline a {
    color: #000;
}

#navibar.dark #menu .underline,
#navibar.dark #menu .underline a {
    color: #fff;
}

#navibar.dark #menu .dropdown-content {
    background-color: rgba(255, 255, 255, 0.1);
}

#navibar.scrolled.dark #menu .dropdown-content {
    background-color: rgba(0, 0, 0, 0.1);
}

#navibar.dark #menu .underline:after {
    background: #fff;
}

#navibar.scrolled.dark #menu .underline:after {
    background: #000;
}


/* end of full screen menu */


/* mobile screen menu */

#hamburger {
    background: url('/static/images/icon/burger1.svg') no-repeat center;
    background-size: contain;
    position: absolute;
    right: 0;
    width: 5vmin;
    height: 5vmin;
    cursor: pointer;
}

#navibar.dark #hamburger {
    background: url('/static/images/icon/burger2.svg') no-repeat center;
}

#navibar.dark.scrolled #hamburger {
    background: url('/static/images/icon/burger1.svg') no-repeat center;
}

#navibar.scrolled #hamburger {
    top: 30%;
}

#popupmenu {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.95);
    height: 100%;
    width: 100%;
    z-index: 100;
}

#popupmenu ul {
    position: relative;
    text-align: center;
    font-size: 3vh;
    line-height: 15vh;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
}

#goback {
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    width: 6vh;
    height: 6vh;
    background: url('/static/images/icon/goback.svg') no-repeat center;
    background-size: contain;
    cursor: pointer;
}

.popup-enter-active {
    transition: all .3s ease;
}

.popup-leave-active {
    transition: all .6s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.popup-enter,
.popup-leave-to
/* .slide-fade-leave-active for below version 2.1.8 */

{
    opacity: 0;
}


/* end of mobile screen menu */

@media (max-device-width: 1024px) {
    #menu {
        display: none;
    }
    #hamburger {
        display: inline-block;
    }
    #logo {
        width: 6vmin;
        height: 6vmin;
    }
    #navibar.scrolled #logo {
        top: 16%;
    }
    #navibar.scrolled {
        height: 12vmin;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    }
}

@media (min-device-width: 1025px) {
    #menu {
        display: inline-block;
    }
    #hamburger {
        display: none;
    }
    #logo {
        width: 28px;
        height: 28px;
    }
    #navibar.scrolled {
        height: 48px;
    }
}